{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">

{% if error %}
    <div class="alert alert-error">{{ error|trans }}</div>
{% endif %}
	<h2 class="form-signin-heading">Bienvenue,<br />
        <p class="text-center"> <small>Veuillez vous connecter</small></p>
    </h2>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input class="input-block-level" type="text" placeholder="Nom d'utilisateur" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input class="input-block-level" type="password" placeholder="Mot de pass" id="password" name="_password" required="required" />
    <label class="checkbox inline">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </label>
    <br />
     <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
    <br /><br />
    <p class="text-center">
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
        <a href="{{ path('CoreBundle_homepage') }}" class="btn btn-success"><i class="icon-share-alt"></i> Accueil</a>
    </p>
</form>

{% endblock fos_user_content %}